In [4]:
import pandas as pd
import numpy as np
dir_crimes = r'E:\MySql\10 - Tbl_dimensao\gdo\tbl_base_GDO_2020.xls'#Home
#dir_crimes = r'C:\Users\Geo\Documents\MEGAsync\MySql\10 - Tbl_dimensao\gdo\tbl_base_GDO_2020.xls'#Office
df_crimes = pd.read_excel(dir_crimes, sheet_name='tbl_crimes')

WARNING *** file size (38246433) not 512 + multiple of sector size (512)
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero

In [9]:
df_crimes.columns

Index(['Número REDS', 'Órgão Unidade Registro', 'Unidade Área Militar',
       'Unidade Relato Nível 6', 'Unid Digitação Nível 6',
       'Unid Registro Nível 6', 'Código Subclasse Nat Principal',
       'Tentado/Consumado Nat Principal', 'Código Subclasse Nat Sec1',
       'Tentado/Consumado Nat Sec1', 'Código Subclasse Nat Sec2',
       'Tentado/Consumado Nat Sec2', 'Código Subclasse Nat Sec3',
       'Tentado/Consumado Nat Sec3', 'ALVO', 'Descrição Meio Utilizado',
       'Data Comunicação Fato', 'Horário Comunicação Fato', 'Data Fato',
       'Horário Fato', 'Data Última Atualização',
       'Logradouro Ocorrência - Tipo', 'Logradouro Ocorrência',
       'Logradouro Ocorrência Não Cadastrado', 'Logradouro Cruzamento',
       'Logradouro Cruzamento Não Cadastrado', 'Número Logradouro', 'Bairro',
       'Bairro Não Cadastrado', 'Complemento Endereço', 'Ponto de Referência',
       'Município', 'Latitude', 'Longitude', 'Matrícula Digitador',
       'Matrícula Relator', 'Qtde Ocorrências'],
      dtype='object')

In [14]:
# df['ROUBO'] = df_crimes[df_crimes['Código Subclasse Nat Principal'] == 'C01157'].groupby('Município')['Qtde Ocorrências'].sum()

# df['FURTO'] = df_crimes[df_crimes['Código Subclasse Nat Principal'] == 'C01155'].groupby('Município')['Qtde Ocorrências'].sum()
# df
# df2= pd.DataFrame(columns = {})
# df2['ocorr'] = df_crimes.groupby(['Município'])['Qtde Ocorrências'].sum().reset_index()
df0 = df_crimes[df_crimes['Código Subclasse Nat Principal'] == 'C01155'].groupby('Município')['Qtde Ocorrências'].sum()

df1 = df_crimes[df_crimes['Código Subclasse Nat Principal'] == 'C01157'].groupby('Município', as_index=True).agg({'Qtde Ocorrências': "sum"}).rename(columns={'Qtde Ocorrências':'ROUBO'})
df2 = df_crimes[df_crimes['Código Subclasse Nat Principal'] == 'C01155'].groupby('Município', as_index=True).agg({'Qtde Ocorrências': "sum"}).rename(columns={'Qtde Ocorrências':'FURTO'})
df3 = df_crimes[df_crimes['Código Subclasse Nat Principal'] == 'B01121'].groupby('Município', as_index=True).agg({'Qtde Ocorrências': "sum"}).rename(columns={'Qtde Ocorrências':'HOMICIDIO'})

dff = pd.concat([df0, df1, df2, df3],axis=1)
dff

                        Qtde Ocorrências   ROUBO  FURTO  HOMICIDIO
ABAETE                               929    61.0    929        9.0
ARAUJOS                              154    65.0    154       17.0
ARCOS                               1137    36.0   1137        5.0
BAMBUI                               849    62.0    849        5.0
BIQUINHAS                             37    10.0     37        NaN
BOM DESPACHO                        2040   254.0   2040       39.0
CAMACHO                               35     4.0     35        NaN
CARMO DO CAJURU                      931   110.0    931       14.0
CEDRO DO ABAETE                       29     NaN     29        1.0
CLAUDIO                              926   150.0    926        9.0
CONCEICAO DO PARA                    180    68.0    180        4.0
CORREGO DANTA                        108    15.0    108        1.0
CORREGO FUNDO                         86     8.0     86        3.0
DIVINOPOLIS                        10457  2729.0  10457      192.0
DORES DO INDAIA                      443    24.0    443        4.0
ESTRELA DO INDAIA                     41     2.0     41        NaN
FORMIGA                             1828   174.0   1828       27.0
IGARATINGA                           250    83.0    250        6.0
IGUATAMA                             163    17.0    163        4.0
ITAPECERICA                          551   109.0    551        7.0
ITATIAIUCU                           625    72.0    625        8.0
ITAUNA                              3976   610.0   3976       58.0
JAPARAIBA                            101     8.0    101        NaN
LAGOA DA PRATA                      1679   286.0   1679       29.0
LEANDRO FERREIRA                      91    20.0     91        6.0
LUZ                                  769    63.0    769        8.0
MARAVILHAS                           150    30.0    150        1.0
MARTINHO CAMPOS                      513    71.0    513        8.0
MEDEIROS                              55     3.0     55        NaN
MOEMA                                246    41.0    246        3.0
MORADA NOVA DE MINAS                 360    19.0    360        4.0
NOVA SERRANA                        3446  2383.0   3446      118.0
ONCA DO PITANGUI                      70    16.0     70        NaN
PAINEIRAS                             68     2.0     68        NaN
PAINS                                187    11.0    187        1.0
PAPAGAIOS                            386    58.0    386       22.0
PARA DE MINAS                       3247   610.0   3247       54.0
PEDRA DO INDAIA                       88    28.0     88        1.0
PEQUI                                118    19.0    118        4.0
PERDIGAO                             342   154.0    342       13.0
PIMENTA                              293    16.0    293        1.0
PITANGUI                             648   256.0    648       19.0
POMPEU                              1139   198.0   1139       81.0
QUARTEL GERAL                         81     2.0     81        3.0
SANTO ANTONIO DO MONTE               666   141.0    666        8.0
SAO GONCALO DO PARA                  402   136.0    402        9.0
SAO JOSE DA VARGINHA                 117    18.0    117        NaN
SAO SEBASTIAO DO OESTE               232    40.0    232        6.0
SERRA DA SAUDADE                      13     NaN     13        NaN
TAPIRAI                               20     8.0     20        2.0

In [33]:
#df_crimes.loc[df_crimes['Código Subclasse Nat Principal'] == 'C01155'].sum()
df_crimes[df_crimes['Código Subclasse Nat Principal'] == 'C01154'].sum()['Qtde Ocorrências']

0.0

In [21]:
df_crimes.count()

Número REDS                             52599
Órgão Unidade Registro                  52599
Unidade Área Militar                    52599
Unidade Relato Nível 6                  52599
Unid Digitação Nível 6                  52599
Unid Registro Nível 6                   52599
Código Subclasse Nat Principal          52599
Tentado/Consumado Nat Principal         52599
Código Subclasse Nat Sec1               52599
Tentado/Consumado Nat Sec1              52599
Código Subclasse Nat Sec2               52599
Tentado/Consumado Nat Sec2              52599
Código Subclasse Nat Sec3               52599
Tentado/Consumado Nat Sec3              52599
ALVO                                    52599
Descrição Meio Utilizado                52599
Data Comunicação Fato                   52599
Horário Comunicação Fato                52206
Data Fato                               52599
Horário Fato                            52599
Data Última Atualização                 52599
Logradouro Ocorrência - Tipo            52599
Logradouro Ocorrência                   52599
Logradouro Ocorrência Não Cadastrado    10147
Logradouro Cruzamento                   52599
Logradouro Cruzamento Não Cadastrado       24
Número Logradouro                       50523
Bairro                                  52599
Bairro Não Cadastrado                   10201
Complemento Endereço                     5021
Ponto de Referência                      7146
Município                               52599
Latitude                                44354
Longitude                               44353
Matrícula Digitador                     52599
Matrícula Relator                       52599
Qtde Ocorrências                        52599
dtype: int64