In [8]:
import pandas as pd
import numpy as np
dir_crimes = r'E:\MEGA\PMMG\MySql\10 - Tbl_dimensao\gdo\tbl_base_GDO_2020.xls'#Home
#dir_crimes = r'C:\Users\Geo\Documents\MEGAsync\MySql\10 - Tbl_dimensao\gdo\tbl_base_GDO_2020.xls'#Office
df_crimes = pd.read_excel(dir_crimes, sheet_name='tbl_crimes')

dir_classif = r'E:\MEGA\PMMG\MySql\10 - Tbl_dimensao\validadores\tbl_classificadores.xlsx'#Home
#dir_classif = r'C:\Users\Geo\Documents\MEGAsync\MySql\10 - Tbl_dimensao\validadores\tbl_classificadores.xlsx'#Office
df_classif  = pd.read_excel(dir_classif, sheet_name='tbl_classificadores')

WARNING *** file size (38172077) not 512 + multiple of sector size (512)
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero

In [9]:
df_crimes.columns

Index(['Número REDS', 'Órgão Unidade Registro', 'Unidade Área Militar',
       'Unidade Relato Nível 6', 'Unid Digitação Nível 6',
       'Unid Registro Nível 6', 'Código Subclasse Nat Principal',
       'Tentado/Consumado Nat Principal', 'Código Subclasse Nat Sec1',
       'Tentado/Consumado Nat Sec1', 'Código Subclasse Nat Sec2',
       'Tentado/Consumado Nat Sec2', 'Código Subclasse Nat Sec3',
       'Tentado/Consumado Nat Sec3', 'ALVO', 'Descrição Meio Utilizado',
       'Data Comunicação Fato', 'Horário Comunicação Fato', 'Data Fato',
       'Horário Fato', 'Data Última Atualização',
       'Logradouro Ocorrência - Tipo', 'Logradouro Ocorrência',
       'Logradouro Ocorrência Não Cadastrado', 'Logradouro Cruzamento',
       'Logradouro Cruzamento Não Cadastrado', 'Número Logradouro', 'Bairro',
       'Bairro Não Cadastrado', 'Complemento Endereço', 'Ponto de Referência',
       'Município', 'Latitude', 'Longitude', 'Matrícula Digitador',
       'Matrícula Relator', 'Qtde Ocorrências'],
      dtype='object')

In [78]:
df['ROUBO'] = df_crimes[df_crimes['Código Subclasse Nat Principal'] == 'C01157'].groupby('Município')['Qtde Ocorrências'].sum()

df['FURTO'] = df_crimes[df_crimes['Código Subclasse Nat Principal'] == 'C01155'].groupby('Município')['Qtde Ocorrências'].sum()
df
# df2= pd.DataFrame(columns = {})
# df2['ocorr'] = df_crimes.groupby(['Município'])['Qtde Ocorrências'].sum().reset_index()
df_crimes[df_crimes['Código Subclasse Nat Principal'] == 'C01155'].groupby('Município')['Qtde Ocorrências'].sum()

df1 = df_crimes[df_crimes['Código Subclasse Nat Principal'] == 'C01157'].groupby('Município', as_index=True).agg({'Qtde Ocorrências': "sum"}).rename(columns={'Qtde Ocorrências':'ROUBO'})
df2 = df_crimes[df_crimes['Código Subclasse Nat Principal'] == 'C01155'].groupby('Município', as_index=True).agg({'Qtde Ocorrências': "sum"}).rename(columns={'Qtde Ocorrências':'FURTO'})

dff = pd.concat([df1, df2])
dff

                        ROUBO  FURTO
Município
ABAETE                   61.0    NaN
ARAUJOS                  65.0    NaN
ARCOS                    36.0    NaN
BAMBUI                   61.0    NaN
BIQUINHAS                10.0    NaN
...                       ...    ...
SAO GONCALO DO PARA       NaN  400.0
SAO JOSE DA VARGINHA      NaN  115.0
SAO SEBASTIAO DO OESTE    NaN  232.0
SERRA DA SAUDADE          NaN   13.0
TAPIRAI                   NaN   20.0

[98 rows x 2 columns]

In [33]:
#df_crimes.loc[df_crimes['Código Subclasse Nat Principal'] == 'C01155'].sum()
df_crimes[df_crimes['Código Subclasse Nat Principal'] == 'C01154'].sum()['Qtde Ocorrências']

0.0

In [21]:
df_crimes.count()

Número REDS                             52599
Órgão Unidade Registro                  52599
Unidade Área Militar                    52599
Unidade Relato Nível 6                  52599
Unid Digitação Nível 6                  52599
Unid Registro Nível 6                   52599
Código Subclasse Nat Principal          52599
Tentado/Consumado Nat Principal         52599
Código Subclasse Nat Sec1               52599
Tentado/Consumado Nat Sec1              52599
Código Subclasse Nat Sec2               52599
Tentado/Consumado Nat Sec2              52599
Código Subclasse Nat Sec3               52599
Tentado/Consumado Nat Sec3              52599
ALVO                                    52599
Descrição Meio Utilizado                52599
Data Comunicação Fato                   52599
Horário Comunicação Fato                52206
Data Fato                               52599
Horário Fato                            52599
Data Última Atualização                 52599
Logradouro Ocorrência - Tipo            52599
Logradouro Ocorrência                   52599
Logradouro Ocorrência Não Cadastrado    10147
Logradouro Cruzamento                   52599
Logradouro Cruzamento Não Cadastrado       24
Número Logradouro                       50523
Bairro                                  52599
Bairro Não Cadastrado                   10201
Complemento Endereço                     5021
Ponto de Referência                      7146
Município                               52599
Latitude                                44354
Longitude                               44353
Matrícula Digitador                     52599
Matrícula Relator                       52599
Qtde Ocorrências                        52599
dtype: int64