In [32]:
# importação da biliotecas e leitura do banco de dados
import pandas as pd
import numpy as np
from datetime import datetime, timedelta
import pendulum
df_ocorrencias = pd.read_sql_table('tbl_crimes', 'sqlite:///gdo.db',
                       columns =['NREDS', 'COD_DIAO', 'T_C', 'COD_DIAO1','COD_DIAO2','COD_DIAO3','DATA_FATO', 'MUNICIPIO',
                                 'CIA', 'UEOP', 'QTDE'])
df_ocorrencias.columns

Index(['NREDS', 'COD_DIAO', 'T_C', 'COD_DIAO1', 'COD_DIAO2', 'COD_DIAO3',
       'DATA_FATO', 'MUNICIPIO', 'CIA', 'UEOP', 'QTDE'],
      dtype='object')

In [83]:
# definição das datas limites na  automação do código
#3 dias  anteriores 2019
date_init_before = pendulum.now().subtract(years=1, months=(datetime.today() - timedelta(days=1)).month-1, days=(datetime.today() - timedelta(days=1)).day).strftime('%Y-%m-%d')
date_ende_before_3 = pendulum.now().subtract(years=1, days=3).strftime('%Y-%m-%d')
date_ende_before_2 = pendulum.now().subtract(years=1, days=2).strftime('%Y-%m-%d')
date_ende_before_1 = pendulum.now().subtract(years=1, days=1).strftime('%Y-%m-%d')

#3 dias  anteriores 2020
date_init_actual = pendulum.now().subtract(months=(datetime.today() - timedelta(days=1)).month-1, days=(datetime.today() - timedelta(days=1)).day).strftime('%Y-%m-%d')
date_ende_actual_3 = pendulum.now().subtract(days=3).strftime('%Y-%m-%d')
date_ende_actual_2 = pendulum.now().subtract(days=2).strftime('%Y-%m-%d')
date_ende_actual_1 = pendulum.now().subtract(days=1).strftime('%Y-%m-%d')

#mês corrente 2019

In [84]:
date_ende_before_3
#date_ende_actual_3
date_ende_actual_1

'2020-08-17'

In [33]:
#promove o nome dos cabeçalhos par maiusculo e retira os espaços
def columns():
    for df in [df_ocorrencias]:
        df.columns = df.columns.str.replace(' ', '_')
        df.columns = df.columns.str.upper()
columns()

In [45]:
df_roubos = df_ocorrencias[(df_ocorrencias['COD_DIAO'] == 'C01157') 
                           | 
                           (df_ocorrencias['COD_DIAO1'] == 'C01157')
                           |
                           (df_ocorrencias['COD_DIAO2'] == 'C01157')
                           |
                           (df_ocorrencias['COD_DIAO3'] == 'C01157')
                          ]

In [89]:
df_day_3_2019 = df_roubos.loc[df_crimes['DATA_FATO'] == date_ende_before_3].groupby('MUNICIPIO', as_index=True).agg({'QTDE': "sum"}).rename(columns={'QTDE':'3dia2019'})
df_day_2_2019 = df_roubos.loc[df_crimes['DATA_FATO'] == date_ende_before_2].groupby('MUNICIPIO', as_index=True).agg({'QTDE': "sum"}).rename(columns={'QTDE':'2dia2019'})
df_day_1_2019 = df_roubos.loc[df_crimes['DATA_FATO'] == date_ende_before_1].groupby('MUNICIPIO', as_index=True).agg({'QTDE': "sum"}).rename(columns={'QTDE':'1dia2019'})

df_day_3_2020 = df_roubos.loc[df_crimes['DATA_FATO'] == date_ende_actual_3].groupby('MUNICIPIO', as_index=True).agg({'QTDE': "sum"}).rename(columns={'QTDE':'3dia2020'})
df_day_2_2020 = df_roubos.loc[df_crimes['DATA_FATO'] == date_ende_actual_2].groupby('MUNICIPIO', as_index=True).agg({'QTDE': "sum"}).rename(columns={'QTDE':'2dia2020'})
df_day_1_2020 = df_roubos.loc[df_crimes['DATA_FATO'] == date_ende_actual_1].groupby('MUNICIPIO', as_index=True).agg({'QTDE': "sum"}).rename(columns={'QTDE':'1dia2020'})




#df_day_1_2020.sum()

pd.concat([df_day_3_2019, df_day_3_2020, df_day_2_2019, df_day_3_2020, df_day_1_2019, df_day_3_2020],axis=1)

,3dia2019,3dia2020,2dia2019,3dia2020,1dia2019,3dia2020
DIVINOPOLIS,2.0,NaN,3.0,NaN,1.0,NaN
ITAUNA,1.0,1.0,NaN,1.0,1.0,1.0
NOVA SERRANA,3.0,NaN,5.0,NaN,1.0,NaN
SAO GONCALO DO PARA,1.0,NaN,NaN,NaN,NaN,NaN
POMPEU,NaN,1.0,NaN,1.0,1.0,1.0
SANTO ANTONIO DO MONTE,NaN,1.0,NaN,1.0,NaN,1.0
IGUATAMA,NaN,NaN,1.0,NaN,NaN,NaN
MARAVILHAS,NaN,NaN,1.0,NaN,NaN,NaN
LUZ,NaN,NaN,NaN,NaN,1.0,NaN
MARTINHO CAMPOS,NaN,NaN,NaN,NaN,1.0,NaN

In [44]:
df_roubos

,NREDS,COD_DIAO,T_C,COD_DIAO1,COD_DIAO2,COD_DIAO3,DATA_FATO,MUNICIPIO,CIA,UEOP,QTDE
0,2018-000013878-001,C01157,CONSUMADO,7777777,7777777,7777777,2018-01-01,PARA DE MINAS,19ª CIA PM IND,19ª CIA PM IND,1
6,2018-000097581-001,C01157,CONSUMADO,7777777,7777777,7777777,2018-01-01,POMPEU,118ª CIA,07º BPM,1
28,2018-000343910-001,C01157,CONSUMADO,7777777,7777777,7777777,2018-01-03,CONCEICAO DO PARA,280ª CIA,60º BPM,1
31,2018-000376178-001,C01157,CONSUMADO,7777777,7777777,7777777,2018-01-03,PITANGUI,280ª CIA,60º BPM,1
33,2018-000405695-001,C01157,CONSUMADO,7777777,7777777,7777777,2018-01-03,ABAETE,141ª CIA,07º BPM,1
...,...,...,...,...,...,...,...,...,...,...,...
52764,2019-030213232-001,C01157,CONSUMADO,7777777,7777777,7777777,2019-06-26,TAPIRAI,241ª CIA,63º BPM,1
52769,2019-001485157-001,C01157,CONSUMADO,7777777,7777777,7777777,2019-01-10,TAPIRAI,241ª CIA,63º BPM,1
52770,2019-043861410-001,C01157,CONSUMADO,C01155,7777777,7777777,2019-09-09,TAPIRAI,241ª CIA,63º BPM,1
52775,2019-006976912-001,C01157,CONSUMADO,7777777,7777777,7777777,2019-02-13,MEDEIROS,241ª CIA,63º BPM,1
52789,2019-043932340-001,C01157,CONSUMADO,7777777,7777777,7777777,2019-09-06,MEDEIROS,241ª CIA,63º BPM,1

In [14]:
# df['ROUBO'] = df_crimes[df_crimes['Código Subclasse Nat Principal'] == 'C01157'].groupby('Município')['Qtde Ocorrências'].sum()

# df['FURTO'] = df_crimes[df_crimes['Código Subclasse Nat Principal'] == 'C01155'].groupby('Município')['Qtde Ocorrências'].sum()
# df
# df2= pd.DataFrame(columns = {})
# df2['ocorr'] = df_crimes.groupby(['Município'])['Qtde Ocorrências'].sum().reset_index()
df0 = df_crimes[df_crimes['Código Subclasse Nat Principal'] == 'C01155'
               
               ].groupby('Município')['Qtde Ocorrências'].sum()

df1 = df_crimes[df_crimes['Código Subclasse Nat Principal'] == 'C01157'].groupby('Município', as_index=True).agg({'Qtde Ocorrências': "sum"}).rename(columns={'Qtde Ocorrências':'ROUBO'})
df2 = df_crimes[df_crimes['Código Subclasse Nat Principal'] == 'C01155'].groupby('Município', as_index=True).agg({'Qtde Ocorrências': "sum"}).rename(columns={'Qtde Ocorrências':'FURTO'})
df3 = df_crimes[df_crimes['Código Subclasse Nat Principal'] == 'B01121'].groupby('Município', as_index=True).agg({'Qtde Ocorrências': "sum"}).rename(columns={'Qtde Ocorrências':'HOMICIDIO'})

dff = pd.concat([df0, df1, df2, df3],axis=1)
dff

                        Qtde Ocorrências   ROUBO  FURTO  HOMICIDIO
ABAETE                               929    61.0    929        9.0
ARAUJOS                              154    65.0    154       17.0
ARCOS                               1137    36.0   1137        5.0
BAMBUI                               849    62.0    849        5.0
BIQUINHAS                             37    10.0     37        NaN
BOM DESPACHO                        2040   254.0   2040       39.0
CAMACHO                               35     4.0     35        NaN
CARMO DO CAJURU                      931   110.0    931       14.0
CEDRO DO ABAETE                       29     NaN     29        1.0
CLAUDIO                              926   150.0    926        9.0
CONCEICAO DO PARA                    180    68.0    180        4.0
CORREGO DANTA                        108    15.0    108        1.0
CORREGO FUNDO                         86     8.0     86        3.0
DIVINOPOLIS                        10457  2729.0  10457      192.0
DORES DO INDAIA                      443    24.0    443        4.0
ESTRELA DO INDAIA                     41     2.0     41        NaN
FORMIGA                             1828   174.0   1828       27.0
IGARATINGA                           250    83.0    250        6.0
IGUATAMA                             163    17.0    163        4.0
ITAPECERICA                          551   109.0    551        7.0
ITATIAIUCU                           625    72.0    625        8.0
ITAUNA                              3976   610.0   3976       58.0
JAPARAIBA                            101     8.0    101        NaN
LAGOA DA PRATA                      1679   286.0   1679       29.0
LEANDRO FERREIRA                      91    20.0     91        6.0
LUZ                                  769    63.0    769        8.0
MARAVILHAS                           150    30.0    150        1.0
MARTINHO CAMPOS                      513    71.0    513        8.0
MEDEIROS                              55     3.0     55        NaN
MOEMA                                246    41.0    246        3.0
MORADA NOVA DE MINAS                 360    19.0    360        4.0
NOVA SERRANA                        3446  2383.0   3446      118.0
ONCA DO PITANGUI                      70    16.0     70        NaN
PAINEIRAS                             68     2.0     68        NaN
PAINS                                187    11.0    187        1.0
PAPAGAIOS                            386    58.0    386       22.0
PARA DE MINAS                       3247   610.0   3247       54.0
PEDRA DO INDAIA                       88    28.0     88        1.0
PEQUI                                118    19.0    118        4.0
PERDIGAO                             342   154.0    342       13.0
PIMENTA                              293    16.0    293        1.0
PITANGUI                             648   256.0    648       19.0
POMPEU                              1139   198.0   1139       81.0
QUARTEL GERAL                         81     2.0     81        3.0
SANTO ANTONIO DO MONTE               666   141.0    666        8.0
SAO GONCALO DO PARA                  402   136.0    402        9.0
SAO JOSE DA VARGINHA                 117    18.0    117        NaN
SAO SEBASTIAO DO OESTE               232    40.0    232        6.0
SERRA DA SAUDADE                      13     NaN     13        NaN
TAPIRAI                               20     8.0     20        2.0

In [4]:
#df_crimes.loc[df_crimes['Código Subclasse Nat Principal'] == 'C01155'].sum()
df_crimes[df_crimes['Código Subclasse Nat Principal'] == 'C01155'].sum()['Qtde Ocorrências']

41403

In [21]:
df_crimes.count()

Número REDS                             52599
Órgão Unidade Registro                  52599
Unidade Área Militar                    52599
Unidade Relato Nível 6                  52599
Unid Digitação Nível 6                  52599
Unid Registro Nível 6                   52599
Código Subclasse Nat Principal          52599
Tentado/Consumado Nat Principal         52599
Código Subclasse Nat Sec1               52599
Tentado/Consumado Nat Sec1              52599
Código Subclasse Nat Sec2               52599
Tentado/Consumado Nat Sec2              52599
Código Subclasse Nat Sec3               52599
Tentado/Consumado Nat Sec3              52599
ALVO                                    52599
Descrição Meio Utilizado                52599
Data Comunicação Fato                   52599
Horário Comunicação Fato                52206
Data Fato                               52599
Horário Fato                            52599
Data Última Atualização                 52599
Logradouro Ocorrência - Tipo            52599
Logradouro Ocorrência                   52599
Logradouro Ocorrência Não Cadastrado    10147
Logradouro Cruzamento                   52599
Logradouro Cruzamento Não Cadastrado       24
Número Logradouro                       50523
Bairro                                  52599
Bairro Não Cadastrado                   10201
Complemento Endereço                     5021
Ponto de Referência                      7146
Município                               52599
Latitude                                44354
Longitude                               44353
Matrícula Digitador                     52599
Matrícula Relator                       52599
Qtde Ocorrências                        52599
dtype: int64